# Project dependencies
.cache
node_modules
yarn-error.log
package-lock.json
.yarn/cache
.yarn/unplugged
.yarn/*-state.*
.pnp.*

# Build directory
/public
.DS_Store

.vscode/

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
